<!DOCTYPE html>
<html lang="en">
<head>
    <title>Impulse Parallax Bootstrap Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--
    Impulse Template
    http://www.templatemo.com/tm-469-impulse
    -->
    <!-- STYLESHEET CSS FILES -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    @*<link rel="stylesheet" href="~/css/font-awesome.min.css">*@
    <link rel="stylesheet" href="~/css/nivo-lightbox.css">
    <link rel="stylesheet" href="~/css/nivo_themes/default/default.css">
    <link rel="stylesheet" href="~/css/templatemo-style.css">

</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
<!-- home section -->
<section id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="wow bounceInDown rotate">Impulse</h1>
        <h2 class="wow bounce">DESIGN STUDIO</h2>
        <a href="#intro" class="btn btn-default smoothScroll">ПРИСТУПИМ</a></div>
    </div>
  </div>
</section>
<!-- navigation section -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon icon-bar"></span> <span class="icon icon-bar"></span> <span class="icon icon-bar"></span> </button>
      <a href="#" class="navbar-brand">Impulse</a></div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home" class="smoothScroll">ГЛАВНАЯ</a></li>
        <li><a href="#intro" class="smoothScroll">О НАС</a></li>
        <li><a href="#work" class="smoothScroll">НАПРАВЛЕНИЯ</a></li>
        <li><a href="#team" class="smoothScroll">КОМАНДА</a></li>
        <li><a href="#portfolio" class="smoothScroll">ПОРТФОЛИО</a></li>
        <li><a href="#price" class="smoothScroll">ТАРИФЫ</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- intro section -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 title">
          <h4>ДОБРО ПОЖАЛОВАТЬ В IMPULSE</h4>
          <h2>
              Студия дизайна
              и веб-разработки
          </h2>
        <hr>
        <p>Занимаемся проектированием и разработкой сайтов. Индивидуальный дизайн. Реклама и продвижение.</p>
      </div>
    </div>
  </div>
</section>
<!-- work section -->
<section id="work">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 title">
        <h2>Направления</h2>
        <hr>
        <p>
            Мы постоянно следим за появлением
            новых технологий в digital-среде
            и используем их для более
            эффективного результата.
        </p>
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="col-md-6 col-sm-6 bg-black"> <i class="fa fa-mobile"></i>
          <h3>Mobile UX</h3>
        </div>
        <div class="col-md-6 col-sm-6 bg-red"> <i class="fa fa-cloud"></i>
          <h3>Social media</h3>
        </div>
        <div class="col-md-6 col-sm-6 bg-red"> <i class="fa fa-link"></i>
          <h3>Web Design</h3>
        </div>
        <div class="col-md-6 col-sm-6 bg-black"> <i class="fa fa-globe"></i>
          <h3>SEO</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- team section -->
<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 title">
        <h2>Наша команда</h2>
        <hr>
        <p>Лучшая феминистическая команда на районе. Только лучшие из лучших.</p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 wow fadeIn" data-wow-delay="0.9s"><img src="~/images/team1.jpg" class="img-responsive" alt="team img">
        <div class="team-des">
          <h4>Tracy</h4>
          <h3>Designer</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 wow fadeIn" data-wow-delay="1.3s"><img src="~/images/team2.jpg" class="img-responsive" alt="team img">
        <div class="team-des">
          <h4>Linda</h4>
          <h3>Manager</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 wow fadeIn" data-wow-delay="1.6s"><img src="~/images/team3.jpg" class="img-responsive" alt="team img">
        <div class="team-des">
          <h4>Mary</h4>
          <h3>Developer</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- portfolio section -->
<div id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 title">
        <h2>Портфолио</h2>
        <hr>
        <p>Примеры наших готовых проектов. </p>
      </div>
      <div class="col-md-12 col-sm-12"></div>
      <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="~/images/portfolio-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/portfolio-img1.jpg" alt="portfolio img"></a></div>
      <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="~/images/portfolio-img2.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/portfolio-img2.jpg" alt="portfolio img"></a></div>
      <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="~/images/portfolio-img3.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/portfolio-img3.jpg" alt="portfolio img"></a></div>
      <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="~/images/portfolio-img4.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/portfolio-img4.jpg" alt="portfolio img"></a></div>
      <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="~/images/portfolio-img5.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/portfolio-img5.jpg" alt="portfolio img"></a></div>
      <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="~/images/portfolio-img6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/portfolio-img6.jpg" alt="portfolio img"></a></div>
      <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="~/images/portfolio-img7.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/portfolio-img7.jpg" alt="portfolio img"></a></div>
      <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="~/images/portfolio-img8.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/portfolio-img8.jpg" alt="portfolio img"></a></div>
    </div>
  </div>
</div>
<!-- price section -->
<div id="price">
  <div class="container">
    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 title">
      <h2>Тарифы</h2>
      <hr>
      <p>Подбери себе подходящий пакет услуг по наилучшим ценам.</p>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="plan wow bounceIn" data-wow-delay="0.3s">
        <div class="plan_title">
          <h3>Basic</h3>
        </div>
        <div class="plan_sub_title">
          <h2>$ 25</h2>
          <small></small> </div>
        <ul>
          <li>ДИЗАЙН</li>
        </ul>
        <button class="btn btn-warning">Заказать</button>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="plan wow bounceIn" data-wow-delay="0.6s">
        <div class="plan_title">
          <h3>Business</h3>
        </div>
        <div class="plan_sub_title">
          <h2>$ 50</h2>
          <small></small> </div>
        <ul>
            <li>ДИЗАЙН</li>
          <li>ХОСТИНГ</li>
        </ul>
        <button class="btn btn-warning">Заказать</button>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="plan wow bounceIn" data-wow-delay="0.9s">
        <div class="plan_title">
          <h3>Professional</h3>
        </div>
        <div class="plan_sub_title">
          <h2>$ 75</h2>
          <small></small> </div>
        <ul>
            <li>ДИЗАЙН</li>
            <li>ХОСТИНГ</li>
            <li>ПРОДВИЖЕНИЕ</li>
        </ul>
        <button class="btn btn-warning">Заказать</button>
      </div>
    </div>
  </div>
</div>
<!-- footer section -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2 class="wow fadeIn" data-wow-delay="0.9s">Подписывайся на нас</h2>
        <ul class="social-icon">
          <li><a href="#" class="fa fa-facebook wow bounceIn" data-wow-delay="0.2s"></a></li>
          <li><a href="#" class="fa fa-twitter wow bounceIn" data-wow-delay="0.4s"></a></li>
          <li><a href="#" class="fa fa-behance wow bounceIn" data-wow-delay="0.6s"></a></li>
          <li><a href="#" class="fa fa-dribbble wow bounceIn" data-wow-delay="0.8s"></a></li>
        </ul>
      </div>
      <div class="col-md-12 col-sm-12 copyright">
        <p>Copyright © 2019 Shipa_Shop</p>
      </div>
    </div>
  </div>
</footer>
<!-- JAVASCRIPT JS FILES --> 
<script src="~/js/jquery.js"></script> 
<script src="~/js/bootstrap.min.js"></script> 
<script src="~/js/nivo-lightbox.min.js"></script> 
<script src="~/js/smoothscroll.js"></script> 
<script src="~/js/jquery.sticky.js"></script> 
<script src="~/js/jquery.parallax.js"></script> 
<script src="~/js/wow.min.js"></script> 
<script src="~/js/custom.js"></script>
</body>
</html>